.news-blog {
  padding: 1rem 2rem;
  max-height: 32rem;
  .header{
    margin-top: 3rem;
    .h5{
        font-size: 1rem;
        color:#24c2ea;
    }
    
  }
  .list{
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        .li-div{
            clear: both;
        }
    }
  }
  .arrow-logo{
    background-color: #DCDDDD;
  }
}
